.label {
  display: flex;
  flex-direction: column;
}

.select {
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--gray-main);

  margin: 33px 0 0 10px;
  padding: 0.8rem 0;
  background-color: transparent;
  border: none;
  height: 100%;
}

.select option {
  color: var(--black-main);
}

.select option:disabled {
  color: var(--gray-main);
}

.select:focus {
  outline: 0;
}

@media (max-width: 580px) {
  .select {
    font-size: 1rem;

    padding: 0.4rem 0;
    margin: 22px 4px 0 10px;
  }
}
