.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 32px 0 16px 0;
}

.exchange__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  min-width: 700px;
  width: 50%;
}

.currentExchangeRate {
  background-color: var(--gray-900);

  margin: 8px 0;
  padding: 12px;

  border-radius: 16px;

  font-family: var(--font-family);
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
}

.heading {
  padding: 8px 0 0 0;
}

.menu {
  display: flex;
  gap: 32px;

  margin: 8px 0 0 0;
}

.menu > button {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu > button::after {
  display: block;
  width: 0%;
  height: 2px;

  z-index: 1;

  content: '';
  background-color: var(--white-main);

  transition: all 0.3s ease;
}

.menu > button:hover::after {
  width: 105%;
}

@media (max-width: 800px) {
  .exchange__wrapper {
    min-width: unset;
    width: 100%;
  }
}

@media (max-width: 580px) {
  .exchange__wrapper {
    width: 100%;
  }

  .menu {
    width: 100%;

    display: flex;
    justify-content: center;

    margin: 0;
  }

  .menu > button {
    width: 100%;

    font-size: 0.9rem;
  }

  .swapBtn {
    bottom: 24px;
    right: 6px;
  }
}

@media (max-width: 420px) {
  .menu > button {
    gap: 0;
  }
}
