.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 32px 0 0 0;
}

.exchange__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  min-width: 700px;
  width: 50%;
}

.currentExchangeRate {
  padding: 16px;
  font-size: 24px;
  margin: 0;

  text-align: center;
}

.menu {
  display: flex;
  gap: 32px;

  margin: 16px 0 0 0;
}

.menu > button:hover {
  border-bottom: 1px solid var(--white-main);
}

@media (max-width: 800px) {
  .exchange__wrapper {
    min-width: unset;
    width: 80%;
  }

  .currentExchangeRate {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .exchange__wrapper {
    width: 100%;
  }

  .menu {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .menu > button {
    width: 100%;

    font-size: 0.9rem;
  }

  .swapBtn {
    bottom: 16px;
    right: 3px;
  }
}
