.input {
  padding: 6px 24px;

  width: 85%;

  border: 0;
  border-bottom: 1px solid var(--gray-700);
  outline: 0;

  font-size: 1.5rem;

  background-color: transparent;
  color: var(--white-main);

  font-family: var(--font-family);
}

.placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--white-main);
}

.input:disabled {
  color: var(--gray-main);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 800px) {
  .input {
    width: 80%;
  }
}

@media (max-width: 580px) {
  .input {
    width: 95%;
    font-size: 1.2rem;

    padding: 8px 8px;
    margin: 0 4px;
  }

  .placeholder {
    font-size: 1rem;
  }
}
