.wrapper {
  min-width: 300px;
  width: 100%;

  opacity: 0;
  animation: fade-in 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.options {
  display: flex;
  justify-content: center;

  padding: 4px 0;
}

.options > button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--gray-main);
}

.options > button::after {
  display: block;
  width: 0%;
  height: 2px;

  z-index: 1;

  content: '';
  background-color: var(--gray-main);

  transition: all 0.3s ease;
}

.options > button:hover::after {
  width: 105%;
}

@media (max-width: 580px) {
  .options > button {
    width: 70%;
    font-size: 0.9rem;
  }
}
