.form {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;

  min-width: 300px;
  width: 50%;
}

.row {
  display: flex;
  align-items: end;

  position: relative;
}

.swapBtn {
  position: absolute;
  z-index: 1;
  right: 6px;
  bottom: 20px;
}

.swapBtn > button {
  margin: 10px 15px;

  transition: all 0.6s ease;
}

.swapBtn > button svg {
  stroke: var(--white-main);
  stroke-width: 2px;
}

.swapBtn > button:hover svg {
  transform: rotate(90deg);
}

@media (max-width: 580px) {
  .form {
    gap: 12px;
  }

  .swapBtn {
    bottom: 20px;
    right: -3px;
  }
}
